<!-- _includes/image.html -->
<div class="image-wrapper">
    {% if include.header %}
      <p class="image-header">
        {{include.header}}
      </p>
    {% endif %}
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
    {% else %}
    <a href="{{ include.img }}" title="{{ include.title }}" target="_blank">
    {% endif %}
        <img src="{{ include.img }}" alt="{{ include.title }}"/>
    </a>
    {% if include.caption %}
        <p class="image-caption">{{ include.caption }}</p>
    {% endif %}
</div>
